<div id="main">
  <div id="nav">
    <div id="nav_logo">
      <img id="logo"src="https://th.bing.com/th/id/OIP.g6Ao44aXTNjOQwfNwoOGywHaHa?w=195&h=195&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="logo"/>
    </div>
    <ul id="nav_list">
      <li><a routerLink="Home"><i class="bi bi-house-fill"></i></a></li>
      <li><a routerLink="Cart"><i class="bi bi-bookmark-fill "></i></a></li>
      <li><a routerLink="Login"><i class="bi bi-person-fill"></i></a></li>
      <li><i class="bi bi-gear-fill"></i></li>
    </ul>
  </div>
  <router-outlet ></router-outlet>
</div>
  
